/* #task make the button disappear smoothly */

#backToTop{
    display: none;
    position: fixed; 
    bottom: 15px; 
    right: 25px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    text-align: center;
    cursor: pointer; 
    animation: btt .5s linear 1;
    background-color: transparent;
    background-color: #181818;
}
    @keyframes btt{
        0%{opacity: 0;transform: scale(0.95);}
        100%{opacity: 1;transform: scale(1);}
    }
    #backToTop img{
        width: 40px;
        filter: invert(100%);
        background-size: cover;
    }
    #backToTop img:hover{
        filter: invert(0%);
    }