    .headDefStyle{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid #000; */
        box-sizing: border-box;
    }
.header{
    width: 100%;
    /* height: by dom */
    background-color: rgba(0, 10, 0, 0.2);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: header_bg 10s linear 1;
    overflow-y: auto;
}
    .header__heading, .header__btns{
        position: relative;
        top: 5%;
    }
    .header__heading{
        width: 100%;
        height: 35%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
        .heading__title, .heading__opt{
            width: 90%;
            overflow: hidden;
        }
        
        .heading__title{
            height: 75%;
            max-width: 550px;
            background: transparent url('../images/logo-olympic.png') no-repeat center;
            background-size: contain;
            animation: heading 10s linear 1;
        }
        .heading__opt{
            height: 25%;
            font-size: 45px;
            color: gold;
            animation: paragraph 10s linear 1;
        }
    .header__btns{
        width: 100%;
        height: 15%;
    }
        .btn--get-started, .btn--optional{
            width: 18%;
        }
            #headerGetStartedBtn, #headerOptionalBtn{
                width: 95%;
                height: 65%;
                border: 0;
                border-radius: 50px;
                color: transparent;
                color: gold;
                font-size: 35px;
            }
            #headerGetStartedBtn{
                background-color: #fff;
                animation: headerGetStartedBtn 10s linear 1;
            }
            #headerOptionalBtn{
                background-color: transparent;
                border: 1px solid gold;
                opacity: 0.8;
                animation: headerOptionalBtn 10s linear 1;
            }
                #headerGetStartedBtn:hover{
                    box-shadow: 0px 2px 2px rgba(242, 242, 242, 0.5);
                }
                #headerOptionalBtn:hover{
                    opacity: 1;
                }


/* #taskcss #task #review master media queries */

@media (max-width: 1366px){
    .heading__opt{
        font-size: 25px;
    }
    #headerGetStartedBtn, #headerOptionalBtn{
        height: 80%;
        font-size: 20px;
    }
}

@media (max-width: 1200px){
    .heading__title{
        height: 60%;
    }
    .heading__opt{
        font-size: 25px;
    }

    .btn--get-started, .btn--optional{
        width: 25%;
        height: 95%;
    }
        #headerGetStartedBtn, #headerOptionalBtn{
            height: 80%;
            font-size: 22px;
        }
}             

@media (max-width: 900px){
    .btn--get-started, .btn--optional{
        width: 35%;
        height: 90%;
    }
} 

@media (max-width: 600px){
    .header__btns{
        flex-direction: column;
        height: 25%;
    }
    .btn--get-started, .btn--optional{
        width: 80%;
        height: 95%;
    }
        #headerGetStartedBtn, #headerOptionalBtn{
            height: 90%;
        }
} 



/* Extra large devices (large laptops and desktops, 1200px and up)
@media (min-width: 1200px) {
  .example {background: pink;}
}

Large devices (laptops/desktops, 992px and up)
@media (min-width: 992px) {
    .example {background: orange;}
} 

Medium devices (landscape tablets, 768px and up)
@media (min-width: 768px) {
    .example {background: blue;}
} 

Small devices (portrait tablets and large phones, 600px and up)
@media (min-width: 600px) {
    .example {background: green;}
  } */
  







        