    .selDefStyle{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid #000; */
        box-sizing: border-box;
    }
        .sub_selDefStyle{
            width: 100%;
            height: 100%;
        }
#selectCheckSheet{
    width: 90%;
    height: 250px;
    /* (if scroll.js) height: by dom */
    flex-direction: column;
    justify-content: space-between;
}
    .sel_heading{
        width: 100%;
        height: 30%;
        height: 24%;
        background-color: #fff;
        border-bottom: 3px solid gold;
        border-radius: 70px 70px 0px 0px;
        font-size: 22px;
    }
    .sel_content{
        width: 100%;
        height: 65%;
        height: 52%;
        flex-direction: column;
        justify-content: space-between;
    }
                #selectCheckSheetSubj, #selectCheckSheetYear, #selectCheckSheetRep,
                #selectCheckSheetChap, #selectCheckSheetSec{
                    background-color: #fff;
                    border: 0px;
                    color:#000;
                    font-size: 18px;
                    transition: 0.5s;
                }
                .sub_selDefStyle[disabled]{
                    opacity: 0.8;
                }
                
        .sel_subj_year_rep{
            width: 100%;
            height: 45%;
            justify-content: space-between;
        }
            .sel_subj, .sel_year, .sel_rep{
                width: 32.5%;
            }
             
        .sel_chap_sec{
            width: 100%;
            height: 45%;
            justify-content: space-between;
        }
            .sel_chap, .sel_sec{
                width: 49.375%;
            }
    .sel_control{
        width: 100%;
        height: 14%;
        box-sizing: border-box;
    }
        .sel_clear{
            width: 100%;
        }
            #clearSelect{
                height: 35px;    
                border: 0px;  
                font-size: 12px;
                background-color: #fff;
            }
            #clearSelect:hover{
                transition: .3s;
            }
            #clearSelect:active{
                border: 1.5px solid #000;
                box-sizing: border-box;
            }
            
            